html{
	font-family: Georgia, serif;
}
#main-header{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,d7dee3+58,f5f7f9+100 */
  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f6f8f9 0%, #d7dee3 58%, #f5f7f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f6f8f9 0%,#d7dee3 58%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f6f8f9 0%,#d7dee3 58%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
  height: 100px;
}

#wrapper {
	width: 850px;
	height: 600px;
	background-color: #d4e4ef;
	margin:0 auto;
	overflow: hidden;
}
#canvas {
	width: 700px;
	height: 500px;
	background-color: steelblue;
	margin: 30px auto;
}
#belarus {
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

.container{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#header-container{
	position: relative;
}
#my-name{
	font-size: 30px;
	font-family: 'Parisienne', cursive;
	padding-left: 8px;
	float: left;
	
}

#my-name a{
	text-decoration:none;
	color: black;
	padding: 4px;
	display: block;
}
#main-navbar{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d4e4ef+0,86aecc+100;Grey+Gloss */
  background: #d4e4ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #d4e4ef 0%, #86aecc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d4e4ef 0%,#86aecc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d4e4ef 0%,#86aecc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}
#navbar-container{
	width: 100%;
	position: relative;
	text-align: center;
}
#main-navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
#main-navbar ul li{
	float: left;
}
#main-navbar ul li a{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
#main-navbar ul li a:hover{
	background-color: grey;
}
#main-navbar #onpage{
	text-decoration: underline;
}
#content-wrapper{
background-color: #f9f9f9;
padding: 5px;
}

footer{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d4e4ef+0,86aecc+93 */
  background: #d4e4ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #d4e4ef 0%, #86aecc 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d4e4ef 0%,#86aecc 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d4e4ef 0%,#86aecc 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */

  height: 80px; 
  line-height: 13px;
  clear: both;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 14px;
  text-align: center;

}

#main-content{
	box-sizing: border-box;
	width: 648px;
	float: left;
	text-align: justify;
}
#link{
	font-size:0.8em;
	margin-top: 45px;
}
#sidebar{
	box-sizing: border-box;
	width: 250px;
	position: relative;
	float: left;
	margin-top: 9.6%;
	margin-left: 3%;
	margin-bottom: 0;
	font-size: 0.95em;	
}
#interests{
	text-align: left;
}

#quote1{
	line-height: 3px;
}
#quote1 #author1{
  text-align: right;
  padding-top: 3px;
}
.quotes{
	font-style: italic;
	text-align: justify;
}

#quote2 #author2{
	text-align: right;
}
#quote3 #author3{
	text-align: right;
}
#quote4 #author4{
	text-align: right;
}
.resume{
	border-bottom-style: solid;
	border-color: steelblue;
	border-bottom-width: 3.5px;
	overflow: hidden;
}
#contact-info{
	line-height: 12px;
}
#eduaction{
	background: #FDF9F0;
}
#work{
	background: #F8F0EC;
}
#community-service{
	background: #FDF9F0;
}
#activities{
	background: #F8F0EC;
}
#awards{
	background: #FDF9F0;
	overflow: hidden;
}
#personal-growth{
	float: left;
	width: 40%;
	margin: 0 5%;
	text-align: justify;
	padding: 5px;
	
}

#skiing{
	float: left;
	width: 40%;
	margin: 4.6% 5% 0 0;
	text-align: justify;
	padding: 5px;
}

.pictures{
	font-size: 0.8em;
}

iframe{
	width: 100%;
}
#img1{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#img2{
  height: 400px;
  object-fit: cover;
  width: 100%;
}

#content-wrapper3{
  background-color: #f9f9f9;
  padding: 5px;
}

.slider{
  background-color: #f9f9f9;
}

.slider img {
  margin: 0 auto;
  max-width: 90%;
  overflow:hidden;
  vertical-align: middle;
}
.slider p{
  text-align: center;
}

@media screen and (min-width: 400px){
  img{
    width: 75%;
  }
  #img1 {
    width: 75%;
    height: auto;
  }
  #img2{
    width: 75%;
    height: auto;
  }
  #img3{
	  width: 75%;
  }
  iframe{
    width: 75%;
	height: 60%;
  }
  #skiing{
    box-sizing: border-box;
    }
  #personal-growth{
    box-sizing: border-box;
  }

}

@media screen and (min-width: 900px){
  img{
    width: 100%;
  }
   #img1 {
    width: 100%;
    height: auto;
  }
  #img2{
    height: 600px;
    object-fit: cover;
    width: 100%;
  }
  iframe{
    width: 100%;
    height: 550px;
  }
  #content-wrapper3{
	font-size: 20px;
	font-family: Times, serif;
  }
  #my-name{
  font-size: 40px;
  }
  #main-navbar ul li a{
	  font-size: 22px;
  }
  
}

